In [1]:
import pandas as pd

In [2]:
#import csv into dataframe
path = f'NRI_Table_Counties.csv'
raw_df = pd.read_csv(path)
raw_df.head()

,OID_,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,POPULATION,...,WNTW_EALS,WNTW_EALR,WNTW_ALRB,WNTW_ALRP,WNTW_ALRA,WNTW_ALR_NPCTL,WNTW_RISKV,WNTW_RISKS,WNTW_RISKR,NRI_VER
0,1,C01001,Alabama,AL,1,Autauga,County,1,1001,58764,...,15.784587,Very Low,2.687716e-07,7.410082e-09,8.725777e-06,10.461158,8494.906508,12.217626,Very Low,March 2023
1,2,C01003,Alabama,AL,1,Baldwin,County,3,1003,231365,...,56.205509,Relatively Moderate,1.268231e-09,2.287120e-08,1.548360e-07,13.339523,65619.701638,52.083996,Relatively Low,March 2023
2,3,C01005,Alabama,AL,1,Barbour,County,5,1005,25160,...,18.632002,Relatively Low,5.788050e-07,2.347236e-08,7.606598e-07,16.125039,15501.730335,19.535476,Very Low,March 2023
3,4,C01007,Alabama,AL,1,Bibb,County,7,1007,22239,...,13.308573,Very Low,9.014679e-07,1.270300e-08,1.202015e-05,16.991643,7496.186940,11.104041,Very Low,March 2023
4,5,C01009,Alabama,AL,1,Blount,County,9,1009,58992,...,23.645930,Relatively Low,5.268425e-07,1.482016e-08,2.002965e-07,12.039616,17175.160729,21.444480,Very Low,March 2023

In [3]:
#select columns to keep
desired_columns = ['STATE', 'STATEABBRV', 'COUNTY', 'COUNTYTYPE', 'POPULATION', 'BUILDVALUE', 'AGRIVALUE', 'AREA', 'NRI_ID',
                'TRND_EVNTS', 'TRND_EXPB', 'TRND_EXP_AREA', 'TRND_EALB', 'TRND_EALA', 'TRND_EALS', 'TRND_EALR',
                'WFIR_EXPB', 'WFIR_EXP_AREA', 'WFIR_EALB', 'WFIR_EALA', 'WFIR_EALS', 'WFIR_EALR',
                'HRCN_EVNTS', 'HRCN_EXPB', 'HRCN_EXP_AREA', 'HRCN_EALB', 'HRCN_EALA', 'HRCN_EALS', 'HRCN_EALR',
                'HAIL_EVNTS', 'HAIL_EXPB', 'HAIL_EXP_AREA', 'HAIL_EALB', 'HAIL_EALA', 'HAIL_EALS', 'HAIL_EALR',
                 'ERQK_EXPB', 'ERQK_EXP_AREA', 'ERQK_EALB', 'ERQK_EALS', 'ERQK_EALR']
only_cols = raw_df.loc[:, desired_columns]

#replace NaN with 'none'
only_cols['COUNTYTYPE'] = only_cols['COUNTYTYPE'].replace({pd.NA: 'none', 'NaN': 'none'})

#drop all non-county rows
countytype_df = only_cols[only_cols['COUNTYTYPE'].str.contains('County')]
countytype_df.reset_index(drop=True, inplace=True)
countytype_df.head()

,STATE,STATEABBRV,COUNTY,COUNTYTYPE,POPULATION,BUILDVALUE,AGRIVALUE,AREA,NRI_ID,TRND_EVNTS,...,HAIL_EXP_AREA,HAIL_EALB,HAIL_EALA,HAIL_EALS,HAIL_EALR,ERQK_EXPB,ERQK_EXP_AREA,ERQK_EALB,ERQK_EALS,ERQK_EALR
0,Alabama,AL,Autauga,County,58764,9.123274e+09,24613998.0,610.470508,C01001,39.0,...,610.470508,136418.809331,1153.743797,60.297767,Relatively Low,9.123088e+09,610.470508,156866.5,56.607861,Very Low
1,Alabama,AL,Baldwin,County,231365,4.596848e+10,138089013.0,2047.738775,C01003,68.0,...,1674.843955,1023.929151,31.873420,56.296526,Relatively Low,4.596796e+10,1674.843955,353127.5,69.297431,Relatively Low
2,Alabama,AL,Barbour,County,25160,4.847697e+09,121075758.0,913.646511,C01005,34.0,...,913.646511,23513.380121,547.801324,35.732010,Very Low,4.847592e+09,913.646511,57941.0,39.399567,Very Low
3,Alabama,AL,Bibb,County,22239,3.146947e+09,4819356.0,632.486798,C01007,27.0,...,632.486798,65644.182141,1050.359255,44.758065,Relatively Low,3.146869e+09,632.486798,173482.2,59.052925,Very Low
4,Alabama,AL,Blount,County,58992,7.815620e+09,278570859.0,657.196555,C01009,50.0,...,657.196555,59734.830993,5479.019058,44.882134,Relatively Low,7.815454e+09,657.196555,384559.8,71.247292,Relatively Low

In [4]:
#drop County type col
clean_df = countytype_df.drop('COUNTYTYPE',axis=1)
clean_df.head()

,STATE,STATEABBRV,COUNTY,POPULATION,BUILDVALUE,AGRIVALUE,AREA,NRI_ID,TRND_EVNTS,TRND_EXPB,...,HAIL_EXP_AREA,HAIL_EALB,HAIL_EALA,HAIL_EALS,HAIL_EALR,ERQK_EXPB,ERQK_EXP_AREA,ERQK_EALB,ERQK_EALS,ERQK_EALR
0,Alabama,AL,Autauga,58764,9.123274e+09,24613998.0,610.470508,C01001,39.0,9.123274e+09,...,610.470508,136418.809331,1153.743797,60.297767,Relatively Low,9.123088e+09,610.470508,156866.5,56.607861,Very Low
1,Alabama,AL,Baldwin,231365,4.596848e+10,138089013.0,2047.738775,C01003,68.0,4.596848e+10,...,1674.843955,1023.929151,31.873420,56.296526,Relatively Low,4.596796e+10,1674.843955,353127.5,69.297431,Relatively Low
2,Alabama,AL,Barbour,25160,4.847697e+09,121075758.0,913.646511,C01005,34.0,4.847697e+09,...,913.646511,23513.380121,547.801324,35.732010,Very Low,4.847592e+09,913.646511,57941.0,39.399567,Very Low
3,Alabama,AL,Bibb,22239,3.146947e+09,4819356.0,632.486798,C01007,27.0,3.146947e+09,...,632.486798,65644.182141,1050.359255,44.758065,Relatively Low,3.146869e+09,632.486798,173482.2,59.052925,Very Low
4,Alabama,AL,Blount,58992,7.815620e+09,278570859.0,657.196555,C01009,50.0,7.815620e+09,...,657.196555,59734.830993,5479.019058,44.882134,Relatively Low,7.815454e+09,657.196555,384559.8,71.247292,Relatively Low

In [5]:
#check for Nan Values
null_columns = clean_df.columns[clean_df.isnull().any()]
print(null_columns)

#replace null values with 0
clean_df.fillna(0,inplace=True)
clean_df.head()

Index(['HRCN_EVNTS', 'HRCN_EXPB', 'HRCN_EXP_AREA', 'HRCN_EALB', 'HRCN_EALA',
       'HRCN_EALS'],
      dtype='object')

,STATE,STATEABBRV,COUNTY,POPULATION,BUILDVALUE,AGRIVALUE,AREA,NRI_ID,TRND_EVNTS,TRND_EXPB,...,HAIL_EXP_AREA,HAIL_EALB,HAIL_EALA,HAIL_EALS,HAIL_EALR,ERQK_EXPB,ERQK_EXP_AREA,ERQK_EALB,ERQK_EALS,ERQK_EALR
0,Alabama,AL,Autauga,58764,9.123274e+09,24613998.0,610.470508,C01001,39.0,9.123274e+09,...,610.470508,136418.809331,1153.743797,60.297767,Relatively Low,9.123088e+09,610.470508,156866.5,56.607861,Very Low
1,Alabama,AL,Baldwin,231365,4.596848e+10,138089013.0,2047.738775,C01003,68.0,4.596848e+10,...,1674.843955,1023.929151,31.873420,56.296526,Relatively Low,4.596796e+10,1674.843955,353127.5,69.297431,Relatively Low
2,Alabama,AL,Barbour,25160,4.847697e+09,121075758.0,913.646511,C01005,34.0,4.847697e+09,...,913.646511,23513.380121,547.801324,35.732010,Very Low,4.847592e+09,913.646511,57941.0,39.399567,Very Low
3,Alabama,AL,Bibb,22239,3.146947e+09,4819356.0,632.486798,C01007,27.0,3.146947e+09,...,632.486798,65644.182141,1050.359255,44.758065,Relatively Low,3.146869e+09,632.486798,173482.2,59.052925,Very Low
4,Alabama,AL,Blount,58992,7.815620e+09,278570859.0,657.196555,C01009,50.0,7.815620e+09,...,657.196555,59734.830993,5479.019058,44.882134,Relatively Low,7.815454e+09,657.196555,384559.8,71.247292,Relatively Low

In [6]:
#check for Nan Values
null_columns = clean_df.columns[clean_df.isnull().any()]
print(null_columns)

Index([], dtype='object')

In [7]:
#remove "C" from NRI_ID to get state and county code
clean_df['NRI_ID'] = clean_df['NRI_ID'].str.replace('C', '')

clean_df.head()

,STATE,STATEABBRV,COUNTY,POPULATION,BUILDVALUE,AGRIVALUE,AREA,NRI_ID,TRND_EVNTS,TRND_EXPB,...,HAIL_EXP_AREA,HAIL_EALB,HAIL_EALA,HAIL_EALS,HAIL_EALR,ERQK_EXPB,ERQK_EXP_AREA,ERQK_EALB,ERQK_EALS,ERQK_EALR
0,Alabama,AL,Autauga,58764,9.123274e+09,24613998.0,610.470508,01001,39.0,9.123274e+09,...,610.470508,136418.809331,1153.743797,60.297767,Relatively Low,9.123088e+09,610.470508,156866.5,56.607861,Very Low
1,Alabama,AL,Baldwin,231365,4.596848e+10,138089013.0,2047.738775,01003,68.0,4.596848e+10,...,1674.843955,1023.929151,31.873420,56.296526,Relatively Low,4.596796e+10,1674.843955,353127.5,69.297431,Relatively Low
2,Alabama,AL,Barbour,25160,4.847697e+09,121075758.0,913.646511,01005,34.0,4.847697e+09,...,913.646511,23513.380121,547.801324,35.732010,Very Low,4.847592e+09,913.646511,57941.0,39.399567,Very Low
3,Alabama,AL,Bibb,22239,3.146947e+09,4819356.0,632.486798,01007,27.0,3.146947e+09,...,632.486798,65644.182141,1050.359255,44.758065,Relatively Low,3.146869e+09,632.486798,173482.2,59.052925,Very Low
4,Alabama,AL,Blount,58992,7.815620e+09,278570859.0,657.196555,01009,50.0,7.815620e+09,...,657.196555,59734.830993,5479.019058,44.882134,Relatively Low,7.815454e+09,657.196555,384559.8,71.247292,Relatively Low

In [9]:
#New column suffix names
new_suffix_names = {
    'EALB': 'expected_loss_building',
    'EXPB': 'exposed_building_value',
    'EALA': 'expected_loss_agri',
    'EALS': 'expected_loss_score',
    'EALR': 'expected_loss_rating',
    'EVNTS': 'EVNTS',
    'EXP_AREA': 'EXP_AREA'
}

# Columns that should be excluded from splitting (any column with underscore that doesn't have prefix)
excluded_columns = ['NRI_ID']

# Create a function to rename the columns based on the mapping, excluding 'NRI_ID' column
def rename_columns(column_name):
    #Exclude NRI_ID in split
    if column_name not in excluded_columns:
        if '_' in column_name:
            #return string index of last underscore for split
            last_underscore_index = column_name.rindex('_')
            #prefix = before last underscore
            prefix = column_name[:last_underscore_index]
            #suffix = after last underscore
            suffix = column_name[last_underscore_index + 1:]
            #column renamed as prefix_renamedSuffix
            if suffix in new_suffix_names:
                return f"{prefix}_{new_suffix_names[suffix]}"
        else:
            return column_name  #Not Prefix or suffix column remain unchanged
    return column_name

# Rename the columns 
clean_df.columns = [rename_columns(column) for column in clean_df.columns]
clean_df.columns

Index(['STATE', 'STATEABBRV', 'COUNTY', 'POPULATION', 'BUILDVALUE',
       'AGRIVALUE', 'AREA', 'NRI_ID', 'TRND_EVNTS',
       'TRND_exposed_building_value', 'TRND_EXP_AREA',
       'TRND_expected_loss_building', 'TRND_expected_loss_agri',
       'TRND_expected_loss_score', 'TRND_expected_loss_rating',
       'WFIR_exposed_building_value', 'WFIR_EXP_AREA',
       'WFIR_expected_loss_building', 'WFIR_expected_loss_agri',
       'WFIR_expected_loss_score', 'WFIR_expected_loss_rating', 'HRCN_EVNTS',
       'HRCN_exposed_building_value', 'HRCN_EXP_AREA',
       'HRCN_expected_loss_building', 'HRCN_expected_loss_agri',
       'HRCN_expected_loss_score', 'HRCN_expected_loss_rating', 'HAIL_EVNTS',
       'HAIL_exposed_building_value', 'HAIL_EXP_AREA',
       'HAIL_expected_loss_building', 'HAIL_expected_loss_agri',
       'HAIL_expected_loss_score', 'HAIL_expected_loss_rating',
       'ERQK_exposed_building_value', 'ERQK_EXP_AREA',
       'ERQK_expected_loss_building', 'ERQK_expected_loss_score',
       'ERQK_expected_loss_rating'],
      dtype='object')

In [10]:
#create database for table import 
import psycopg2
import json
with open('create_database_creds.json') as O:
    config = json.load(O)
username = config['user']
password = config['password']
db_host = config['host']
db_port = config['port']
db_ = 'weather_hazards_db'
conn = psycopg2.connect(
    host=db_host,
    port=db_port,
    user=username,
    password=password,
)
conn.autocommit = True
cursor = conn.cursor()
cursor.execute(f"CREATE DATABASE {db_}")
cursor.close()
conn.close()

In [11]:
#export into csv if needed
#clean_df.to_csv('Hazard_Data.csv')

In [12]:

from sqlalchemy import create_engine
#upload dataframe into postgres
# Replace these values with your PostgreSQL database credentials
db_username = 'postgres'
db_password = 'postgres'
db_host = 'localhost'
db_port = '5432'
db_name = 'weather_hazards_db'


connection_path = f"postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(connection_path)

table_name = 'hazard_data'

clean_df.to_sql(table_name, engine, if_exists='replace', index=False)

7